# Lấy token từ @BotFather trên Telegram
BOT_TOKEN=8789032671:AAGcPa8NYC2TMLzVuT--MIQb4Flf-aJdaQk

# Telegram User ID của admin (dùng @userinfobot để lấy)
ADMIN_IDS=8218263582,8297032840

# Tên shop
SHOP_NAME=kem clone

# Username admin để liên hệ (không có @)
ADMIN_USER_NAME=clonegiare11

# SePay API Key (lấy từ my.sepay.vn)
SEPAY_API_KEY=

# Thông tin ngân hàng
BANK_BIN=0982213186
BANK_ACCOUNT=0982213186
BANK_NAME=VPBANK
BANK_OWNER=NGUYEN DOAN KHOA AN

# MySQL (khi dùng MySQL hoặc DB_MODE=auto)
# MYSQL_HOST=localhost
# MYSQL_PORT=3306
# MYSQL_USER=root
# MYSQL_PASSWORD=
# MYSQL_DATABASE=telegram_shop
